* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    margin: 0 auto;
}

.navigation-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 52px 145px ;
    font-family: 'Cabin', sans-serif;
}

.logo {
    display: flex;
    align-items: center;
    gap: 18px;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
}

.nav-menu ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 56px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

.selection{
    color: #425DF8;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.navigation-button{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
}

.button1{
    display: flex;
    padding: 18px 22px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #DADADA;
    text-align: center;
    background-color: white;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

.button2 {
    display: flex;
    padding: 18px 22px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #425DF8;
    background: #425DF8;
    color: #F6FDFF;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

.button1:hover {
    border-radius: 8px;
    border: 1px solid #DADADA;
    background: #DADADA;
}

.button2:hover {
    border-radius: 8px;
    border: 1px solid #425DF8;
    background-color: white;
    color: #425DF8;
}

.content-block{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Cabin', sans-serif;
    margin: 0 52px 196px;
}

.head-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.head-title h1{
    font-size: 64px;
    font-weight: 500;
    line-height: 100%;
}

.head-title span{
    color: #7F828A;
    font-size: 22px;
    font-weight: 400;
}

.cards {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 120px;
    gap: 24px;

}

.started-enterprice-card{
    display: flex;
    width: 342px;
    height: 789px;
    padding: 56px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
    border: 1px solid #DADADA;
    background: #FDFDFD;
}

.pro-card {
    display: flex;
    width: 342px;
    height: 817px;
    padding: 56px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
    border: 1px solid #161A34;
    background: #161A34;
}

.started-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 27px;
}

.started-card h2{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}

.offer {
    display: flex;
    color: #7F828A;
    font-size: 22px;
    font-weight: 400;
    margin: 0 50px;
}

.price {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.price h3 {
    text-align: right;
    font-size: 64px;
    font-weight: 500;
}

.price span {
    color: #7F828A;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
}


.list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.list-item {
    display: flex;
    gap: 16px;
    align-self: stretch;
    color: #7F828A;
    font-size: 22px;
    font-weight: 400;
    text-transform: capitalize;
}

.bullet {
    display: flex;
    width: 24px;
    height: 24px;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 500px;
    background: #425DF8;
}

.vector {
    width: 13px;
    stroke-width: 2px;

}

.btn {
    background: #425DF8;
    border-radius: 8px;
    border: 1px solid #425DF8;
    padding: 18px 22px;
}

.btn-text {
    text-decoration: none;
    color: #F6FDFF;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

.pro-card-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 27px;
}

.pro-card-info h2 {
    color: #F6FDFF;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}

.offer-pro {
    display: flex;
    color: #F6FDFF;
    font-size: 22px;
    font-weight: 400;
    margin: 0 50px;
}

.price-pro {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.price-pro h3 {
    text-align: right;
    color: #F6FDFF;
    font-size: 64px;
    font-weight: 500;
}

.price-pro span {
    color: #F6FDFF;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
}

.list-item-pro {
    display: flex;
    gap: 16px;
    justify-content: flex-start;
    align-self: stretch;
    color: #F6FDFF;
    font-size: 22px;
    font-weight: 400;
    text-transform: capitalize;
}

.text {
    text-align: left;
}

.offer-enterprice {
    display: flex;
    color: #7F828A;
    font-size: 22px;
    font-weight: 400;
    margin: 0 30px;
}

.footer-info {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

.footer-info hr {
    height: 1px;
    align-self: stretch;
}

.footer-text {
    display: flex;
    width: 95%;
    padding: 16px 0;
    justify-content: space-between;
    align-items: flex-start;
    color: #7F828A;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;

 }

.footer-logo {
    display: flex;
    align-items: center;
    gap: 16px;
}

.footer-logo span {
    color: #7F828A;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}














